RG_name = "<resource_group_name>"
RG_location = "<resource_group_location>"
VN_address_space = ["<virtual_network_address_space>"]
subnet1_name = "<subnet1_name>"
S1_addy_prefixes = ["<subnet1_address_prefixes>"]
subnet2_name = "<subnet2_name>"
S2_addy_prefixes = ["<subnet2_address_prefixes>"]
public_ip_name = "<public_ip_name>"
Bastion_name = "<bastion_host_name>"
Bastion_addy_prefixes = ["<bastion_address_prefixes>"]
